<ion-menu [content]="content">

  <ion-content class="side-menu" >
    <div class="avatar-container">

        <ion-avatar>
          <img [src]="auth.userAvatarPath">
          <div class="username">
            @{{auth.userName}}
          </div>
        </ion-avatar>
  
      </div>
      
    <div class="menu-itm-container">

      <div class="menu-itm" menuClose *ngFor="let p of pages" (click)="openPage(p)" [class.activated]="p.component == activePage">
          {{p.title  | translate}}
      </div>

      <div class="menu-itm end" menuClose  *ngIf="auth.getAuthStatus()" (click)="logOut()">
          {{'MENU_LOGOUT' | translate}}
      </div>

      <div class="menu-itm end" menuClose  *ngIf="!auth.getAuthStatus()" (click)="goToLogin()">
          {{'MENU_LOGIN' | translate}}
      </div>

    </div>

  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>