<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>


<ion-content class="content-box" >

    <div class="analysis-slide-container">
            <chart-donut *ngIf="!checkIsLandscape()" (typeSelected)="handleTypeSelected($event)" [donutConfig]="donutConfig" [data]="donutData" ></chart-donut>
    </div>

       

    <!--
<ion-slides class="analysis-slide-container" #analysisSlides  >

      <ion-slide class="analysis-slide">
          <chart-donut *ngIf="!checkIsLandscape()" (typeSelected)="handleTypeSelected($event)" [donutConfig]="donutConfig" [data]="donutData" ></chart-donut>
      </ion-slide>

      <ion-slide class="analysis-slide">
          <sankey-chart [sankeyConfig]="sankeyConfig" [data]="sankeyData"></sankey-chart>
      </ion-slide>
      
    </ion-slides>
    -->
    


</ion-content>
